* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font: 20px/1.5em 'Raleway', sans-serif;
}

body, html {
    height:  100%;
    margin:  0px auto;
}
.wrapper {
  width: 100%;
  max-width: 1500px;
  height: auto;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#gameRules{
  width: 100%;
  max-width: 245px;
  float: left;
}
#gameScore{
  width: 100%;
  max-width: 245px;
  float: right;
}
#canvasElement{
  float: left;
}
#important{
  font-weight: bold;
}